<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express-Starter | Home</title>
  </head>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    div {
      background-color: rgb(43, 0, 83);
      height: 5rem;
      display: flex;
    }
    h1 {
      text-align: center;
      color: white;
      font-weight: bold;
      font-family: "Courier New", Courier, monospace;
    }
    .nav-main {
      list-style-type: none;
      color: #ffffff;
    }
    .nav-list {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      padding-left: 100px;
    }
    li {
      margin-left: 2rem;
      font-weight: bold;
      cursor: pointer;
    }
  </style>
  <body>
    <div>
      <h1>//Express Starter Boilerplate//</h1>
      <div class="nav-main">
        <ul class="nav-list">
          <li>Home</li>
          <li>Register</li>
          <li>Signin</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
  </body>
</html>
